/* ////Navbar Css//// */

#logoimg{
    width: 15%;
    height: 15%;
}


.navpart{
    color: rgb(72, 39, 192);
}

/* ////Navbar Css End//// */

.ifcmarketdesign{
    border: 5px;
    border-radius: 5%;
}

.contentedit{
    color: rgba(0, 0, 255, 0.493);
    text-align: center;
    font-weight: bold;
}

.contentedit2{
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}


.cardstyle{
    border: 2px solid white;
    background-color: rgb(41, 41, 83);
    color: white;
    
}

.carddetaisedit{
    color: white;
    margin-top: 5%;
}

.casecadingedit{
    background-color: brown;
}

.studiesedit{
    cursor: pointer;

    padding: 15px;
}

.ifc-code{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.clouser-top-header{
    position: absolute;
    top: 22%;
    width: 100%;
}

.divMarquee {
    position: relative !important; 
    overflow: hidden !important;
    top: 35px;
    z-index:99999;
            }

.studiesedit :hover{
    background-color: red;
border-bottom-right-radius: 30px;
border-top-right-radius: 30px;
    
}


.boxedit{
    background-color: rgb(41, 41, 83);
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 5%;
    margin-top:  5%;
}

.boxlineedit{
    background-color: brown;
    width:65% ;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}
.Letshovereffect{
    margin-top: 2%;
}

.Letshovereffect1{
    background-color: red;
}

.Letshovereffect :hover{
    background-color: red;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
}

.Formedit{
    border: 2px solid black;
    background-color: aliceblue;
    font-weight: bold;
    margin: 4% 25%;
    padding: 5%;
    text-align: center;
}

.imagecollecter{
    background-color: rgb(41, 41, 83);
    text-align: center;
    color: white;
    padding: 5%;
}


.fsiconedit{
    color: white;
    text-align: center;
    font-weight: bold;
    margin-left: 40%;
    padding: 3%;
    font-size: 50px;
}


.fotterdesign{
    text-align: center;
    background-color: rgb(235, 231, 231);
    font-weight: bold;
    padding: 3px;
    margin-top: 20%;
}